.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
}

.colour-picker{
  width: 300px;
  height: 300px;
  align-items:center;
  margin-bottom:25px;
 
}

button{
  font-size:15px;
}
button+button{
  margin-left:34px;
}